<div class="edit-add-flight-container">
    <mat-card>
        <div class="flight-form">
            <div class="edit-add-form-title">
                <div *ngIf="selectedFlight.id; else elseBlock">
                    Edit Flight
                </div>
                <ng-template #elseBlock>
                    Create New Flight
                </ng-template>
            </div>
            <mat-divider></mat-divider>

            <!--Flight Name-->
            <div>
                <mat-form-field hintLabel="Max 50 characters" class="flight-name-input">
                    <mat-label>Flight Name</mat-label>
                    <input matInput #flightNameInput maxlength="50" [(ngModel)]="selectedFlight.name" [required]="true"
                           name="name">
                    <mat-hint align="end">{{ flightNameInput.value.length }}/50</mat-hint>
                </mat-form-field>
            </div>

            <!--Airline Name-->
            <div>
                <mat-form-field hintLabel="Max 50 characters" class="airline-name-input">
                    <mat-label>Airline</mat-label>
                    <input matInput #airineNameInput maxlength="50" [(ngModel)]="selectedFlight.airline"
                           [required]="true" name="flight">
                    <mat-hint align="end">{{ airineNameInput.value.length }}/50</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <!--Seat Number-->
                <mat-form-field class="seat-number-input">
                    <mat-label>Seat Number</mat-label>
                    <input matInput type="number"  [(ngModel)]="selectedFlight.seatNumber" [required]="true" name="seatNumber">
                    <mat-hint>Max value 200</mat-hint>
                </mat-form-field>
            </div>


            <!--Flight Class-->
            <div class="radio-buttons">
                <label for="style">Class: </label>
                <mat-radio-group
                        color="primary"
                        id="style"
                        aria-label="Flight Class"
                        [(ngModel)]="selectedFlight.flightClass"
                        name="style"
                >
                    <mat-radio-button *ngFor="let c of flightClasses" class="radio-button"
                                      [value]="c">{{ c }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <!--Departure Date-->
            <div class="departure-date-picker">
                <mat-form-field>
                    <mat-label>Departure</mat-label>
                    <input
                            (dateChange)="onDepartureDateChange($event.value)"
                            name="departure"
                            matInput
                            [matDatepicker]="departurePicker"
                            [value]="departureDateStringToDate"
                    >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="departurePicker"></mat-datepicker-toggle>
                    <mat-datepicker #departurePicker></mat-datepicker>
                </mat-form-field>
                <div class="invalid-departure" *ngIf="invalidDeparture">
                    Departure must be before or equal to arrival
                </div>
            </div>

            <!--Arrival Date-->
            <div class="arrival-date-picker">
                <mat-form-field>
                    <mat-label>Arrival</mat-label>
                    <input
                            (dateChange)="onArrivalDateChange($event.value)"
                            name="arrival"
                            matInput
                            [matDatepicker]="arrivalPicker"
                            [value]="arrivalDateStringToDate"
                    >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
                    <mat-datepicker #arrivalPicker></mat-datepicker>
                </mat-form-field>
                <div class="invalid-arrival" *ngIf="invalidArrival">
                    Arrival must be after or equal to departure
                </div>
            </div>
            <div class="spacer"></div>

            <!--Add/Edit button-->
            <button mat-stroked-button color="primary"
                    (click)="selectedFlight.id ? editFlight.emit(selectedFlight) : addFlight.emit(selectedFlight)
                      " [disabled]="isButtonDisabled"
            >
                {{ selectedFlight.id ? 'Edit' : 'Add' }} Flight
            </button>
        </div>
    </mat-card>
</div>

